In [1]:
import pandas as pd

In [9]:
traffic_df=pd.read_csv('traffic_stops - traffic_stops_with_vehicle_number.csv',low_memory=False)

In [10]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [11]:
traffic_df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [12]:
traffic_df.describe()

       driver_age_raw   driver_age
count    65538.000000  65538.00000
mean        49.055998     49.11221
std         18.174699     18.15012
min         18.000000     18.00000
25%         33.000000     34.00000
50%         49.000000     49.00000
75%         65.000000     65.00000
max         80.000000     80.00000

In [13]:
traffic_df.isnull()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65534,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65535,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65536,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
65537,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [14]:
traffic_df.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [15]:
#filling the none values with the word 'Not Searched'
traffic_df['search_type']=traffic_df['search_type'].fillna('Not_searched')

In [16]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not_searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not_searched,Ticket,True,16-30 Min,False,UP89PT2924

In [17]:
#there is no null values
traffic_df.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [18]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         65538 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [19]:
# Convert stop_date → date
traffic_df['stop_date'] = pd.to_datetime(traffic_df['stop_date'], errors='coerce').dt.date

# Convert stop_time → time
traffic_df['stop_time'] = pd.to_datetime(traffic_df['stop_time'], errors='coerce').dt.time

# Replace NaT/NaN with None (for PostgreSQL)
traffic_df = traffic_df.where(pd.notnull(traffic_df), None)

C:\Users\vav\AppData\Local\Temp\ipykernel_24056\3379997865.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  traffic_df['stop_time'] = pd.to_datetime(traffic_df['stop_time'], errors='coerce').dt.time

In [20]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not_searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not_searched,Ticket,True,16-30 Min,False,UP89PT2924

In [2]:
import psycopg2

In [3]:
# Connect to PostgreSQL

conn= psycopg2.connect(
    host='localhost',
    database="postgres",
    user='postgres',
    password='123Ugofree6809',
    port= "5432",
)

conn.autocommit = True

In [50]:
# Create cursor
cur = conn.cursor()

In [51]:
conn=psycopg2.connect(
    host='localhost',
    database="securecheck_traffic",
    user='postgres',
    password='123Ugofree6809',
    port= "5432",
)
conn.autocommit = True

cur=conn.cursor()

In [52]:
cur.execute("""
CREATE TABLE IF NOT EXISTS traffic_stops (
    stop_date DATE,
    stop_time TIME,
    country_name VARCHAR(10),
    driver_gender VARCHAR(10),
    driver_age INT,
    driver_race VARCHAR(50),
    violation VARCHAR(50),
    search_conducted BOOLEAN,
    search_type VARCHAR(150),
    stop_outcome VARCHAR(150),
    is_arrested BOOLEAN,
    stop_duration VARCHAR(150),
    drugs_related_stop BOOLEAN,
    vehicle_number VARCHAR(50)
)
""")

cur.close()
conn.close()

print('Database created successfully')

Database created successfully

In [53]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not_searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not_searched,Ticket,True,16-30 Min,False,UP89PT2924

In [54]:
# prepare insert query 
from sqlalchemy import create_engine

In [28]:
engine=create_engine("postgresql://postgres:123Ugofree6809@localhost:5432/securecheck_traffic")

rows=pd.read_sql("SELECT COUNT(*) FROM traffic_stops;",con=engine)
print(rows)

    count
0  262202

In [29]:
traffic_df_cleaned=traffic_df[[
    'stop_date',
    'stop_time',
    'country_name',
    'driver_gender',
    'driver_age',
    'driver_race',
    'violation',
    'search_conducted',
    'search_type',
    'stop_outcome',
    'is_arrested',
    'stop_duration',
    'drugs_related_stop',
    'vehicle_number'
    
]]

In [30]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not_searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not_searched,Ticket,True,16-30 Min,False,UP89PT2924

In [ ]:
traffic_df.to_sql("traffic_df",con=engine,if_exists="append",index=False)

print('Data inserted successfully')

Data inserted successfully

In [44]:
sample_df=traffic_df_cleaned.head(10)

sample_df.to_sql('traffic_stops',con=engine,if_exists='append',index=False)

print('sample inserted successfully')

sample inserted successfully

In [145]:
rows=pd.read_sql('select count(*) from traffic_stops;',con=engine)
print(rows)

preview = pd.read_sql("SELECT * FROM traffic_stops LIMIT 5;", con=engine)
print(preview)

    count
0  262212
    stop_date stop_time country_name driver_gender  driver_age driver_race  \
0  2020-01-01  00:00:00       Canada             M          19       Asian
1  2020-01-01  00:01:00        India             M          58       Other
2  2020-01-01  00:02:00          USA             M          76       Black
3  2020-01-01  00:03:00       Canada             M          76       Black
4  2020-01-01  00:04:00       Canada             M          75       Other

  violation  search_conducted     search_type stop_outcome  is_arrested  \
0  Speeding              True  Vehicle Search       Ticket         True
1     Other             False  Vehicle Search       Arrest         True
2  Speeding             False           Frisk       Ticket         True
3       DUI              True           Frisk      Warning        False
4     Other             False  Vehicle Search       Arrest         True

  stop_duration stop_location vehicle_number drugs_related_stop
0     16-30 Min          None     UP76DY3473               None
1     16-30 Min          None     RJ83PZ4441               None
2     16-30 Min          None     RJ32OM7264               None
3      0-15 Min          None     RJ76TI3807               None
4     16-30 Min          None     WB63BB8305               None

In [34]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not_searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not_searched,Ticket,True,16-30 Min,False,UP89PT2924

In [4]:
from sqlalchemy import create_engine,text
engine = create_engine("postgresql://postgres:123Ugofree6809@localhost:5432/securecheck_traffic")

In [36]:
with engine.connect() as conn:
    conn.execute(text("""DROP TABLE IF EXISTS traffic_df;"""))
    conn.commit()
    print("✅ Table 'traffic_df' dropped successfully!")

✅ Table 'traffic_df' dropped successfully!

In [37]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not_searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not_searched,Ticket,True,16-30 Min,False,UP89PT2924

In [41]:
conn = psycopg2.connect(
    host="localhost",
    database="securecheck_traffic",
    user="postgres",
    password="123Ugofree6809",
    port="5432"
)
cur = conn.cursor()

In [44]:
traffic_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not_searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not_searched,Ticket,True,16-30 Min,False,UP89PT2924

In [45]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:123Ugofree6809@localhost:5432/securecheck_traffic")

query = """
    SELECT vehicle_number, COUNT(*) as count
    FROM traffic_stops
    WHERE drugs_related_stop = TRUE
    GROUP BY vehicle_number
    ORDER BY count DESC
    LIMIT 10;
"""

df = pd.read_sql(query, con=engine)
print(df)

  vehicle_number  count
0     RJ83PZ4441      1
1     DL50PO5101      1
2     UP76DY3473      1
3     RJ76TI3807      1
4     RJ32OM7264      1
5     DL75KZ7835      1

In [46]:
from sqlalchemy import create_engine,text

engine = create_engine("postgresql://postgres:123Ugofree6809@localhost:5432/securecheck_traffic")

with engine.connect() as conn:
    conn.execute(text("""
        UPDATE traffic_stops
        SET drugs_related_stop = TRUE
        WHERE violation ILIKE '%drug%';
    """))

In [47]:
# Vehicle-Based
#1-top 10 vehicle_Number involved in drug-related stops

import pandas as pd
from sqlalchemy import create_engine,text

engine = create_engine("postgresql://postgres:123Ugofree6809@localhost:5432/securecheck_traffic")

query = text("""
    SELECT vehicle_number, COUNT(*) as count
    FROM traffic_stops
    WHERE violation ILIKE '%DUI%'
    GROUP BY vehicle_number
    ORDER BY count DESC
    LIMIT 10;
""")

vehicle_df= pd.read_sql(query, con=engine)
print(vehicle_df)

  vehicle_number  count
0     RJ76TI3807     10
1     RJ79BO9666      4
2     RJ24LP5749      4
3     TN44PH1920      4
4     KA76HP3576      4
5     RJ95WM2876      4
6     DL64PA4179      4
7     RJ13TF7669      4
8     WB12IR4962      4
9     KA16CR6580      4

In [ ]:
#2-vehicles were most frequently searched

query= text("""select vehicle_number,count(*) as frequent_searched_vehicle
from traffic_stops
where search_conducted=True
group by vehicle_number
order by frequent_searched_vehicle desc;
""")

frequent_vehicle=pd.read_sql(query,con=engine)

print(frequent_vehicle)

      vehicle_number  frequent_searched_vehicle
0         KA79RD2271                          8
1         DL50PO5101                          8
2         MH89ZF7676                          8
3         UP76DY3473                          8
4         RJ76TI3807                          8
...              ...                        ...
32696     MH62TJ7951                          4
32697     TN24KB4148                          4
32698     MH85NR6252                          4
32699     KA36NX6664                          4
32700     RJ49OQ1668                          4

[32701 rows x 2 columns]

In [ ]:
#Demographic-Based

#3-driver age group had the highest arrest rate
query=text("""select driver_age,count(*) as total_stops,
sum(case when is_arrested=True then 1 else 0 end) as total_arrests,
sum(case when is_arrested=True then 1 else 0 end)*100/count(*) as arrest_rate_percentage
from traffic_stops
where driver_age>0
group by driver_age
order by arrest_rate_percentage desc;
""")

highest_arrest_rate=pd.read_sql(query,con=engine)
print(highest_arrest_rate)

    driver_age  total_stops  total_arrests  arrest_rate_percentage
0           53         4100           2192                      53
1           67         3992           2128                      53
2           26         4160           2220                      53
3           76         4152           2160                      52
4           21         4208           2200                      52
..         ...          ...            ...                     ...
58          72         4148           1968                      47
59          42         3976           1884                      47
60          78         4320           2044                      47
61          47         4268           1976                      46
62          36         4052           1900                      46

[63 rows x 4 columns]

In [27]:
#5-gender distribution of drivers stopped in each country

query=text("""select country_name,driver_gender,
count(*) as total_stops
from traffic_stops
where driver_gender is not null and country_name is not null
group by driver_gender,country_name
order by country_name,driver_gender;
""" )
gender_distribution=pd.read_sql(query,con=engine)
print(gender_distribution)

  country_name driver_gender  total_stops
0       Canada             F        43992
1       Canada             M        43656
2        India             F        44172
3        India             M        43828
4          USA             F        43372
5          USA             M        43172

In [28]:
#6-race and gender combination has the highest search rate

query=text("""select driver_race,driver_gender,
count(*) as total_stops,
sum(case when search_conducted=True then 1 else 0 end) as total_searches,
sum(case when search_conducted=True then 1 else 0 end)*100/count(*) as search_rate
from traffic_stops
group by driver_gender,driver_race
order by search_rate;
""")

search_rate=pd.read_sql(query,con=engine)
print(search_rate)

  driver_race driver_gender  total_stops  total_searches  search_rate
0       Black             M        26456           13064           49
1    Hispanic             M        25756           12848           49
2       Other             M        26400           12952           49
3       Black             F        26076           12792           49
4       White             F        26492           13028           49
5       White             M        26184           13048           49
6       Asian             M        25860           12964           50
7    Hispanic             F        26272           13308           50
8       Other             F        26100           13180           50
9       Asian             F        26596           13640           51

In [ ]:
#Time & Duration Based

#7-time of day sees the most traffic stops
query=text("""select case
when extract(hour from stop_time) between 6 and 11 then 'Morning'
when extract(hour from stop_time) between 12 and 17 then 'Afternoon'
when extract(hour from stop_time) between 18 and 23 then 'Evening' 
else'Night'
end as time_of_day,
count(*) as total_stops
from traffic_stops
where stop_time is not null
group by time_of_day
order by total_stops desc;
""")
time_of_day=pd.read_sql(query,con=engine)
print(time_of_day)

  time_of_day  total_stops
0       Night        66280
1     Morning        66240
2   Afternoon        64872
3     Evening        64800

In [33]:
#8-average stop duration for different violations


query=text("""select violation,
avg
   (case 
         when stop_duration='0-15 Min' then 7.5
         when stop_duration='16=30 Min' then 23
		 when stop_duration='30+ Min' then 45 
		 end)
as avg_stop_duration
from traffic_stops
group by violation
order by avg_stop_duration desc;
""")

avg_stop_duration=pd.read_sql(query,con=engine)
print(avg_stop_duration)

  violation  avg_stop_duration
0     Other          27.027475
1  Seatbelt          26.252158
2  Speeding          26.155238
3       DUI          26.067753
4    Signal          26.005826

In [12]:
#9-stops during the night more likely to lead to arrests

query=text("""select case
         when stop_time between '20:00:00' and '23:59:00' then 'night'
		 when stop_time between '00:00:00' and '06:00:00' then 'night'
		 else 'day'
		 end as time_of_day,
       count(*) as total_stops,
	   sum(case when is_arrested =True then 1 else 0 end) as total_arrests,
	   round(sum(case when is_arrested=True then 1 else 0 end)::decimal/count(*)*100,2) as arrest_rate
from traffic_stops
group by time_of_day
order by arrest_rate desc;
""")

stops=pd.read_sql(query,con=engine)
print(stops)

  time_of_day  total_stops  total_arrests  arrest_rate
0         day       152528          77016        50.49
1       night       109664          54392        49.60

In [ ]:
#Violation-Based
#10- violations are most associated with searches or arrests

query=text("""SELECT violation,
           COUNT(*) AS total_stops,
           SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) AS total_search,
           ROUND(SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) * 100, 2) AS search_rate,
           SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END) AS total_arrest,
           ROUND(SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) * 100, 2) AS arrest_rate
    FROM traffic_stops
    GROUP BY violation
    ORDER BY search_rate DESC, arrest_rate DESC;
""")

violation=pd.read_sql(query,con=engine)
print(violation)

  violation  total_stops  total_search  search_rate  total_arrest  arrest_rate
0  Seatbelt        52032         26252        50.45         26292        50.53
1  Speeding        52612         26296        49.98         26400        50.18
2     Other        52792         26308        49.83         26076        49.39
3    Signal        52452         26040        49.65         26200        49.95
4       DUI        52304         25928        49.57         26440        50.55

In [ ]:
#11- violations are most common among younger drivers (<25)

query=text("""select violation,driver_age,
    COUNT(*) AS total_stops
FROM traffic_stops
WHERE driver_age < 25
GROUP BY violation,driver_age
ORDER BY total_stops DESC;
""")

violations=pd.read_sql(query,con=engine)
print(violations)

   violation  driver_age  total_stops
0   Speeding          21          916
1      Other          22          896
2     Signal          18          884
3   Speeding          19          876
4   Speeding          22          868
5   Seatbelt          22          864
6   Seatbelt          19          852
7      Other          21          848
8   Seatbelt          21          844
9     Signal          23          840
10       DUI          19          840
11    Signal          22          828
12  Speeding          23          828
13       DUI          22          824
14  Speeding          18          820
15    Signal          21          816
16  Speeding          20          816
17     Other          18          812
18    Signal          19          808
19     Other          19          804
20     Other          24          800
21  Seatbelt          18          796
22  Seatbelt          23          792
23  Speeding          24          784
24       DUI          21          784
25    Signal          20          776
26  Seatbelt          24          768
27     Other          23          768
28       DUI          24          764
29  Seatbelt          20          764
30     Other          20          760
31    Signal          24          760
32       DUI          23          752
33       DUI          20          752
34       DUI          18          720

In [ ]:
#12.Is there a violation that rarely results in search or arrest

query=text("""SELECT 
    violation,
    COUNT(*) AS total_stops,
    SUM(CASE WHEN search_conducted = TRUE OR is_arrested = TRUE THEN 1 ELSE 0 END) AS search_or_arrest_count,
    ROUND(
        (SUM(CASE WHEN search_conducted = TRUE OR is_arrested = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*)) * 100,
        2
    ) AS search_or_arrest_rate
FROM traffic_stops
GROUP BY violation
ORDER BY search_or_arrest_rate;
""")

rare_violation=pd.read_sql(query,con=engine)
print(rare_violation)

  violation  total_stops  search_or_arrest_count  search_or_arrest_rate
0    Signal        52452                   39096                  74.54
1     Other        52792                   39444                  74.72
2  Speeding        52612                   39480                  75.04
3  Seatbelt        52032                   39100                  75.15
4       DUI        52304                   39472                  75.47

In [55]:
query=text("""SELECT drugs_related_stop
           from traffic_stops""")

drugs_stops=pd.read_sql(query,con=engine)
print(drugs_stops)

       drugs_related_stop
0                    None
1                    None
2                    None
3                    None
4                    None
...                   ...
262207              False
262208              False
262209               True
262210               True
262211              False

[262212 rows x 1 columns]

In [57]:
#Location-Based

#13-countries report the highest rate of drug-related stops?

query=text("""SELECT 
    country_name,
    COUNT(*) AS total_stops,
    SUM(CASE WHEN drugs_related_stop = TRUE THEN 1 ELSE 0 END) AS drug_stops,
    ROUND(SUM(CASE WHEN drugs_related_stop = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) * 100, 2) AS drug_rate_percentage
FROM traffic_stops
GROUP BY country_name
ORDER BY drug_rate_percentage DESC;
""")

drug_stop_rate=pd.read_sql(query,con=engine)
print(drug_stop_rate)

  country_name  total_stops  drug_stops  drug_rate_percentage
0       Canada        87656           2                   0.0
1        India        88004           2                   0.0
2          USA        86552           2                   0.0

In [ ]:
#14- arrest rate by country and violation

query=text("""select country_name,violation,
sum(case when is_arrested=True then 1 else 0 end) as total_arrest,
round(sum(case when is_arrested=True then 1 else 0 end)::decimal/count(*)*100,2) as arrest_rate
from traffic_stops
group by country_name,violation
order by arrest_rate desc;
""")

arrest_rate=pd.read_sql(query,con=engine)
-print(arrest_rate)

   country_name violation  total_arrest  arrest_rate
0        Canada       DUI          9028        51.12
1         India       DUI          8988        50.84
2         India  Speeding          8848        50.76
3         India    Signal          9004        50.65
4         India  Seatbelt          8788        50.56
5           USA  Seatbelt          8580        50.56
6        Canada  Seatbelt          8924        50.46
7        Canada     Other          8798        50.29
8           USA    Signal          8686        50.01
9        Canada  Speeding          8746        49.96
10          USA  Speeding          8810        49.83
11          USA       DUI          8424        49.66
12        India     Other          8748        49.32
13       Canada    Signal          8512        49.18
14          USA     Other          8536        48.59

In [ ]:
#15-country has the most stops with search conducted

query=text("""select country_name,
           sum(case when search_conducted=True then 1 else 0 end) as total_search
           from traffic_stops
           group by country_name
           order by total_search desc;
           """)

stops_for_search=pd.read_sql(query,con=engine)
print(stops_for_search)

  country_name  total_search
0       Canada         44098
1        India         43836
2          USA         42900

In [ ]:
#16-Yearly Breakdown of Stops and Arrests by Country 

query = text("""
WITH yearly_data AS (
    SELECT 
        country_name,
        EXTRACT(YEAR FROM stop_date)::int AS year,
        COUNT(*) AS total_stops,
        SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END) AS total_arrests
    FROM traffic_stops
    GROUP BY country_name, EXTRACT(YEAR FROM stop_date)
)
SELECT 
    country_name,
    year,
    total_stops,
    total_arrests,
    ROUND((total_arrests::decimal / total_stops) * 100, 2) AS arrest_rate_percentage,

    SUM(total_arrests) OVER (PARTITION BY country_name ORDER BY year) AS cumulative_arrests,

    
    RANK() OVER (PARTITION BY year ORDER BY total_arrests DESC) AS country_rank_by_arrests

FROM yearly_data
ORDER BY country_name, year;
""")

yearly_breakdown=pd.read_sql(query,con=engine)
print(yearly_breakdown)

  country_name  year  total_stops  total_arrests  arrest_rate_percentage  \
0       Canada  2020        87656          44008                   50.21
1        India  2020        88004          44376                   50.42
2          USA  2020        86552          43036                   49.72

   cumulative_arrests  country_rank_by_arrests
0             44008.0                        2
1             44376.0                        1
2             43036.0                        3

In [13]:
query=text("""WITH age_groups AS (
    SELECT 
        driver_age,
        driver_race,
        violation,
        CASE 
            WHEN driver_age < 25 THEN 'Young (<25)'
            WHEN driver_age BETWEEN 25 AND 40 THEN 'Adult (25-40)'
            WHEN driver_age BETWEEN 41 AND 60 THEN 'Middle Age (41-60)'
            ELSE 'Senior (60+)' 
        END AS age_group
    FROM traffic_stops
    WHERE driver_age > 0
),
counts AS (
    SELECT 
        age_group,
        driver_race,
        violation,
        COUNT(*) AS total_stops
    FROM age_groups
    GROUP BY age_group, driver_race, violation
)
SELECT 
    age_group,
    driver_race,
    violation,
    total_stops,
    ROUND(total_stops * 100.0 / SUM(total_stops) OVER (PARTITION BY age_group, driver_race), 2) AS violation_percentage
FROM counts
ORDER BY age_group, driver_race, violation_percentage DESC;
""")

violation_trends=pd.read_sql(query,con=engine)
print(violation_trends)

        age_group driver_race violation  total_stops  violation_percentage
0   Adult (25-40)       Asian    Signal         2816                 20.51
1   Adult (25-40)       Asian  Speeding         2788                 20.30
2   Adult (25-40)       Asian       DUI         2728                 19.87
3   Adult (25-40)       Asian     Other         2712                 19.75
4   Adult (25-40)       Asian  Seatbelt         2688                 19.57
..            ...         ...       ...          ...                   ...
95    Young (<25)       White    Signal         1216                 21.07
96    Young (<25)       White  Speeding         1188                 20.58
97    Young (<25)       White  Seatbelt         1144                 19.82
98    Young (<25)       White     Other         1128                 19.54
99    Young (<25)       White       DUI         1096                 18.99

[100 rows x 5 columns]

In [6]:
#Time Period Analysis of Stops (Joining with Date Functions) , Number of Stops by Year,Month, Hour of the Day

query = text("""
SELECT 
    EXTRACT(YEAR FROM stop_date)::int AS year,
    EXTRACT(MONTH FROM stop_date)::int AS month,
    EXTRACT(HOUR FROM stop_time)::int AS hour,
    COUNT(*) AS total_stops
FROM traffic_stops
GROUP BY year, month, hour
ORDER BY year, month, hour;
""")

time_analysis = pd.read_sql(query, con=engine)
print(time_analysis)

    year  month  hour  total_stops
0   2020      1     0         7500
1   2020      1     1         7440
2   2020      1     2         7440
3   2020      1     3         7440
4   2020      1     4         7440
5   2020      1     5         7440
6   2020      1     6         7440
7   2020      1     7         7440
8   2020      1     8         7440
9   2020      1     9         7440
10  2020      1    10         7440
11  2020      1    11         7440
12  2020      1    12         7440
13  2020      1    13         7440
14  2020      1    14         7440
15  2020      1    15         7440
16  2020      1    16         7440
17  2020      1    17         7440
18  2020      1    18         7440
19  2020      1    19         7440
20  2020      1    20         7440
21  2020      1    21         7440
22  2020      1    22         7440
23  2020      1    23         7440
24  2020      2     0         3600
25  2020      2     1         3600
26  2020      2     2         3600
27  2020      2     3         3600
28  2020      2     4         3600
29  2020      2     5         3600
30  2020      2     6         3600
31  2020      2     7         3600
32  2020      2     8         3600
33  2020      2     9         3600
34  2020      2    10         3600
35  2020      2    11         3600
36  2020      2    12         3432
37  2020      2    13         3360
38  2020      2    14         3360
39  2020      2    15         3360
40  2020      2    16         3360
41  2020      2    17         3360
42  2020      2    18         3360
43  2020      2    19         3360
44  2020      2    20         3360
45  2020      2    21         3360
46  2020      2    22         3360
47  2020      2    23         3360

In [8]:


query=text("""SELECT 
    violation,
    COUNT(*) AS total_stops,

    
    SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END) AS total_searches,
    ROUND(SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) * 100, 2) AS search_rate,

    
    SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END) AS total_arrests,
    ROUND(SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) * 100, 2) AS arrest_rate,

    
    RANK() OVER (ORDER BY SUM(CASE WHEN search_conducted = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) DESC) AS rank_by_search_rate,
    RANK() OVER (ORDER BY SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) DESC) AS rank_by_arrest_rate

FROM traffic_stops
GROUP BY violation
ORDER BY search_rate DESC, arrest_rate DESC;
""")

high_search_arrest=pd.read_sql(query,con=engine)
print(high_search_arrest)

  violation  total_stops  total_searches  search_rate  total_arrests  \
0  Seatbelt        52034           26254        50.46          26292
1  Speeding        52618           26298        49.98          26404
2     Other        52800           26310        49.83          26082
3    Signal        52454           26042        49.65          26202
4       DUI        52306           25930        49.57          26440

   arrest_rate  rank_by_search_rate  rank_by_arrest_rate
0        50.53                    1                    2
1        50.18                    2                    3
2        49.40                    3                    5
3        49.95                    4                    4
4        50.55                    5                    1

In [9]:
#

query=text("""SELECT 
    country_name,
     CASE
        WHEN driver_age BETWEEN 0 AND 17 THEN '0-17'
        WHEN driver_age BETWEEN 18 AND 24 THEN '18-24'
        WHEN driver_age BETWEEN 25 AND 40 THEN '25-40'
        WHEN driver_age BETWEEN 41 AND 60 THEN '41-60'
        ELSE '60+' 
    END AS age_group,
	driver_gender,
    driver_race,
    COUNT(*) AS total_drivers

FROM traffic_stops
WHERE driver_age > 0   
GROUP BY country_name, age_group, driver_gender, driver_race
ORDER BY country_name, age_group, driver_gender, driver_race;
""")

driver_dmographics=pd.read_sql(query,con=engine)
print(driver_dmographics)

    country_name age_group driver_gender driver_race  total_drivers
0         Canada     18-24             F       Asian            976
1         Canada     18-24             F       Black            900
2         Canada     18-24             F    Hispanic            880
3         Canada     18-24             F       Other           1080
4         Canada     18-24             F       White           1008
..           ...       ...           ...         ...            ...
115          USA       60+             M       Asian           2708
116          USA       60+             M       Black           2854
117          USA       60+             M    Hispanic           2480
118          USA       60+             M       Other           2920
119          USA       60+             M       White           2836

[120 rows x 5 columns]

In [10]:


query=text("""SELECT 
    violation,
    COUNT(*) AS total_stops,
    SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END) AS total_arrests,
    ROUND(SUM(CASE WHEN is_arrested = TRUE THEN 1 ELSE 0 END)::decimal / COUNT(*) * 100, 2) AS arrest_rate_percentage
FROM traffic_stops
GROUP BY violation
HAVING COUNT(*) > 0   
ORDER BY arrest_rate_percentage DESC
LIMIT 5;
""")

high_arrest_rate=pd.read_sql(query,con=engine)
print(high_arrest_rate)

  violation  total_stops  total_arrests  arrest_rate_percentage
0       DUI        52306          26440                   50.55
1  Seatbelt        52034          26292                   50.53
2  Speeding        52618          26404                   50.18
3    Signal        52454          26202                   49.95
4     Other        52800          26082                   49.40